.threed-container {
    width: 100%;
    padding:25px;
    display: flex;
    flex-direction: row;
}
.threed-control-button button {
    width: 100%;
    appearance: button;
    border-color: black;
    border-style: outset;
    border-width: 2px;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 4px;
    display: flex;
    align-items: center;
    line-height: 3rem;
    background-color: rgba(0, 148, 255, 0.3);
    align-content: center;
    justify-content: center;
}
    .threed-control-button button:hover {
        background-color: rgba(0, 148, 255, 0.1) !important;
    }
    .threed-control-button-button-active {
        background-color: rgba(0, 148, 255, 1) !important;
    }
    .threed-control-button-button button:hover {
        background-color: rgba(0, 148, 255, 0.1) !important;
    }
    .threed-control-button-button button:active {
        background-color: rgba(0, 148, 255, 0.25) !important;
    }
div.threed-viewer {
    border: 3px solid black;
    height: 500px;
}

@media (max-width: 890.98px) {
    .threed-container {
        flex-direction: column;
        min-height: calc(500px + 3em);
    }

    div.threed-viewer {
        width: 100%;
    }
    .threed-controls {
        width: 100%;
        display: flex;
        flex-direction: row;
        background-color: rgb(210,210,210);
    }
    .threed-control-button {
        width: 100%;
        max-height: 6em;
        display: flex;
        justify-content: flex-end;
    }
}
@media (min-width: 891px) {
    .threed-container {
        flex-direction: row;
        min-height: 500px;
    }
    div.threed-viewer {
        width: 80%;
    }
    .threed-controls {
        width: 20%;
        display: flex;
        flex-direction: column;
        background-color: rgb(210,210,210);
    }
    .threed-control-button {
        width: 100%;
        height: 3em;
        display: flex;
        justify-content: flex-end;
    }
    .threed-control-button button{
        font-size:1.5em;
    }
}