@page "/aboutme"
@namespace ZacharyKilburn_BlazorWASM.Pages
<div class="top-row-body">
	<div class="page-header">
		<h3>About Me</h3>
	</div>
</div>
<div class="px-4">
	<div class="about-me-container">
		<div class="about-me-image">
			<img src="headshot1.jpg" />
		</div>
		<div class="about-me-description" >
			<p>
				Since I was very young, I was always intrigued with how things worked. Taking things apart as a kid always got me into trouble, and I am pleased to say that now it tends to be encouraged.<br /><br />

				For the past 5 years I have made electrical engineering not only my job, but my most enjoyed hobby. Many board designs, much 3D printing and code hackery have brought me a lot of joy, despite the constant feeling that everything has already been done before.<br /><br />
				
				My dream in life has always been to be part of something greater and provide something to humanity, which is something I still strive for in my work and in my hobbies. Any chance I can get to pursue this objective is an opportunity that I am willing to take.<br /><br />
			</p>
		</div>
	</div>
</div>
@code {

}
