@page "/aboutme"
@namespace ZacharyKilburn_BlazorWASM.Pages
<div class="top-row">
	<h3>About Me</h3>
</div>
<div class="px-4">
	<div style="display:inline-flex">
		<div class="flex" style="padding:50px;">
			<img src="headshot1.jpg" style="height: 25vh;" />
		</div>
		<div class="flex" style="padding:50px;">
			<p>
				I constructed this website to showcase some of the projects I have worked on outside of work.
				There are more small projects than those listed on this page, and some I havent had the chance
				to add to the pages yet, and some that aren't worth of a public audience yet. Feel free to browse 
				and see a bit more about what I like to do!
			</p>
		</div>
	</div>
</div>
@code {

}
