body {
}


.board-title {
    justify-content: flex-start;
    display: flex;
    width: 100%;
}

.board-controls {
    display: flex;
}

.mode-btn {
    color: #FFFFFF;
    border-radius: 4px;
    height: 2rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    background-color: rgba(0, 148, 255, 0.5);
    width: 10em;
    align-content: center;
}

    .mode-btn button:active {
        background-color: rgba(0, 148, 255, 0.25) !important;
    }

    .mode-btn:hover {
        background-color: rgba(0, 148, 255, 0.1) !important;
    }

.active {
    background-color: rgba(0, 148, 255, 0.9) !important;
}

@media (max-width: 890.98px) {

    .board-title h3 {
      
    font-size: calc(1rem + .6vw);

    }
    .board-container ::deep {
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .board-controls {
        justify-content: flex-start;
        width: 100%;
    }
}

@media (min-width: 891px) {
    .page {
        flex-direction: row;
    }



    .article {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }

    .board-container {
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .board-controls {
        justify-content: flex-end;
        width: 60%;
    }
}
