body {
}

.board-header {
    justify-content: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 10em;
    text-align: center;
}

.board-title {
    display: flex;
    justify-content: center;
}
.board-title-pn {
    display: inline-flex;
}
.board-title-title {
    justify-content: center;
    display: inline-flex;
}

.board-date {
    color: rgb(128, 128, 128);
    justify-content: center;
}

.board-controls {
    justify-content: center;
    display: flex;
    width: 100%;
    padding-bottom: 5px;
    height: 4em;
}



.active {
    background-color: rgba(0, 148, 255, 0.9) !important;
}
/* For Mobile Devices */
@media (max-width: 890.98px) {

    /*    .top-row {
        height: 8rem;
    }*/
    .board-header {
        height: 5em;
    }

    .board-title {
        flex-direction: column;
        font-size: 1.5em;
    }

        .board-title-pn{
            display:none;
        }

    .board-container ::deep {
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .board-controls {
        height: 3em;
        width: 100%;
    }
}

/* For Desktop Devices */
@media (min-width: 891px) {

    /*    .top-row{
        justify-content:center !important;
    }*/

    .article {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }

    .board-header {
        display: flex;
        justify-content: center;
    }

    .board-title {
        display: flex;
        justify-content: center;
        font-size: 2.5em;
    }

    .board-date {
        display: flex;
        justify-content: center;
        font-size: 2em;
    }

    .board-container {
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .board-controls {
        justify-content: center;
    }
}
