body {
}



.mode-btn {
    color: #FFFFFF;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    background-color: rgba(0, 148, 255, 0.5);
    width: 10em;
    align-content: center;
}

    .mode-btn button:active {
        background-color: rgba(0, 148, 255, 0.25) !important;
    }

    .mode-btn:hover {
        background-color: rgba(0, 148, 255, 0.1) !important;
    }

.active {
    background-color: rgba(0, 148, 255, 0.9) !important;
}

@media (max-width: 890.98px) {

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }

    .board-container ::deep {
    }

        .board-container ::deep img {
            width: 50vw !important;
        }
}

@media (min-width: 891px) {
    .page {
        flex-direction: row;
    }


    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth ::deep a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row {
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }

    .article {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }

    .board-container {
    }

        .board-container ::deep img {
            width: 300px;
        }
}
