body {
}

div.education-body {
    padding-left: 50px;
    padding-bottom: 50px;
}

div.education-header {
    justify-content: flex-start;
    display: flex;
    width: 100%;
}

div.education-container {
    padding-top: 20px;
}

div.education-title {
    font-size: 1.5em;
    justify-content: flex-start;
    display: flex;
    width: 100%;
}

div.education-description {
    padding-bottom: 20px;
    width: 75%;
}

div.education-date {
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(100,100,100);
}

div.bulleted-header {
}

div.bulleted-item {
    padding-left: 40px;
}
