@page "/education"

<div class="top-row-body">
    <div class="page-header">
        <h3>Education</h3>
    </div>
</div>
<div class="education-body">
    <div class="education-container">
        <div class="education-title">
            Bachelor Science Electrical Engineering
        </div>
        <div>
            The University of Akron / Akron, OH
        </div>
        <div class="education-date">
            2012-2018
        </div>
        <div class="education-description">
            <br />
        </div>


    </div>
    <hr/>
    <div class="education-container">
        <div class="education-title">
            Computer Science
        </div>
        <div>
            Case Western Reserve University / Cleveland, OH
        </div>
        <div class="education-date">
            2009-2011
        </div>
        <div class="education-description">
            <br />
        </div>
    </div>
</div>

@code {

}
