body {
}

div.education-body {
    margin: 0em 5em;
    background-color: rgb(255,255,255);
}


div.education-container {
    font-size: 1.5em;
    text-align: center;
    padding-top: 20px;
}

div.education-title {
    font-size: 1.5em;
    text-align: center;
    width: 100%;
}

div.education-description {
    padding-bottom: 20px;
    width: 75%;
}

div.education-date {
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(100,100,100);
}

div.bulleted-header {
}

div.bulleted-item {
    padding-left: 40px;
}
/* For Mobile Devices */
@media (max-width: 890.98px) {
/*    .top-row {
        height: 3rem;
    }*/


    div.education-body {
        margin: 0.5em 0.5em;
        background-color: rgb(255,255,255);
    }
    div.education-container {
        font-size: 1em;
        text-align: center;
        padding-top: 20px;
    }

    div.education-title {
        font-size: 1.25em;
        text-align: center;
        width: 100%;
    }

    div.education-description {
        padding-bottom: 20px;
        width: 100%;
    }

    div.education-date {
        padding-top: 10px;
        padding-bottom: 10px;
        color: rgb(100,100,100);
    }

    div.bulleted-header {
    }

    div.bulleted-item {
        padding-left: 0.5em;
    }



}

/* For Desktop Devices */
@media (min-width: 891px) {



    div.education-body {
        margin: 0em 5em;
        background-color: rgb(255,255,255);
    }

    div.education-container {
        font-size: 1.5em;
        text-align: center;
        padding-top: 20px;
    }

    div.education-title {
        font-size: 1.5em;
        text-align: center;
        width: 100%;
    }

    div.education-description {
        padding-bottom: 20px;
        width: 75%;
    }

    div.education-date {
        padding-top: 10px;
        padding-bottom: 10px;
        color: rgb(100,100,100);
    }

    div.bulleted-header {
    }

    div.bulleted-item {
        padding-left: 40px;
    }
}