@page "/experience"

<div class="top-row">
	<div class="job-header">
		<h3>Experience</h3>
	</div>
</div>
<div class="experience-body">
	<div class="job-container">
		<div class="job-title">
			<br />
			Sr. Electrical Engineer<br />
		</div>
		<div class="job-location">
			<a href="https://iecinfrared.com/">IEC Infrared Systems</a> / Middleburg Heights, OH
		</div>
		<div class="job-date">
			May 2018 – Current<br />
		</div>
		<div class="job-description">
			Specializing in long range IR surveillance and remotely operated weapons platforms, IEC Infrared Systems designs highly customized solutions for DOD and government agencies<br />
		</div>

		<div class="job-description-list">
			<div class="bulleted-header">
				•	Lead designer / project lead on multiple simultaneous projects<br />
			</div>
			<div class="bulleted-item">
				•	Developed next generation platform for HD video / IP Enabled systems<br />
				•	Sole electrical engineer on small form factor product line development<br />
			</div>

			<div class="bulleted-header">
				•	Mentoring
			</div>
			<div class="bulleted-item">
				•	Advised multiple disciplines of engineers on designs<br />
				•	Generated reference 3D models / board schematic / layouts / harnesses<br />
				•	PCB Design<br />
				•	Extensive experience with Altium Nexus<br />
				•	Rapid turn prototype circuits for internal and production level use<br />
				•	FPGA schematic and layout<br />
				•	DDR schematic and layout<br />
			</div>
			<div class="bulleted-header">
				•	Mechanical Design<br />
			</div>
			<div class="bulleted-item">
				•	Designed enclosures / fixtures for on-site 3D printing<br />
				•	Mock-up mechanical / electrical interfaces for space constrained design validation<br />
			</div>
			<div class="bulleted-header">
				•	Software Design<br />
			</div>
			<div class="bulleted-item">
				•	Xilinx FPGA Verilog / VHDL / IP including GTX, Serdes, Clocking, AXI and others<br />
				•	GUI development for control pad control of weapons platform during testing<br />
				•	Low-level peripheral firmware for PCB power-on and function testing<br />
				•	Internal use website / database for design navigation and interlinking<br />
				•	Product improvement and design modifications<br />
				•	Introduced automotive style harness assembly fixtures with integrated testing<br />
				•	Designed testing platform for general use with any PCBs developed<br />
			</div>
			<div class="bulleted-header">
				•	Hands on Design and Documentation<br />
			</div>
			<div class="bulleted-item">
				•	Electrical harness and cable drawings for production<br />
				•	System configuration drawings for production<br />
				•	System topology block diagrams for customers<br />
				•	Interdisciplinary work with Mechanical and Software subsystems<br />
				•	Prototype first article harness building, board assembly, product assembly<br />
				•	0402, BGA, QFN, QFP and fine-pitch hot air and hand soldering experience<br />
			</div>
			<div class="bulleted-header">
				•	Documentation / Testing / Validation<br />
			</div>
			<div class="bulleted-item">
				•	Engineering change order documentation<br />
				•	ISO9001 compliant documentation / procedures<br />
				•	Test fixture design and deployment for PCBs / Harnessing<br />
				•	Test platform design and deployment at system level<br />
				•	Test procedure development for component/product validation in production<br />
				•	Troubleshooting documentation for external repair depot<br />
			</div>


		</div>
	</div>
	<hr />
	<div class="job-container">
		<div class="job-title">
			Project Engineer / Firmware Developer<br />
		</div>
		<div class="job-location">
			Design Flux Technology / Akron, OH
		</div>
		<div class="job-date">
			March 2014 – May 2017<br />
		</div>
		<div class="job-description">
			Founded as a spin-out company from The University of Akron, Design Flux Technology patented a novel dynamically reconfigurable energy source in 2014. Hired immediately after patent was approved and technology development began.
		</div>
		<div class="job-description-list">
			<div class="bulleted-header">
				•	Post <a href="https://patents.google.com/patent/US20140312828A1/en">patent</a> development of technology
			</div>
			<div class="bulleted-item">
				•	Cognicell technology<br />
				•	Battery cell reconfiguration at cell level
			</div>
			<div class="bulleted-header">
				•	Dynamic cell bypassing / reversal for circuit emulation without external modules
			</div>
			<div class="bulleted-item">
				•	Variable voltage generation<br />
				•	High efficiency balance charging<br />
				•	MPPT operation<br />
				•	Inverter emulation<br />
				•	Charger emulation
			</div>
			<div class="bulleted-header">
				•	Technology Application Research
			</div>
			<div class="bulleted-item">
				•	Met with potential clients and discussed technology applications<br />
				•	Developed core features of technology<br />
				•	Demonstrated technology to interested parties<br />
				•	Solely maintained location in Bounce Akron Innovation Hub
			</div>
			<div class="bulleted-header">
				•	Initial Tech Prototype Development
			</div>
			<div class="bulleted-item">
				•	Constructed first demonstration unit to promote technology<br />
				•	Setup and performed long term solar integration providing data for analysis<br />
				•	Provided real world setup providing feedback for circuit improvement and iteration
			</div>
			<div class="bulleted-header">
				•	Provided software for embedded systems including:
			</div>
			<div class="bulleted-item">
				•	ADC for voltage monitoring<br />
				•	Communications protocol for control and data gathering (UART / RS485)<br />
				•	MOSFET control circuitry<br />
				•	PIC / Atmel processors<br />
				•	Bluetooth<br />
				•	High Resolution Timing<br />
				•	AC waveform generation<br />
				•	High Power systems
			</div>
		</div>
	</div>
	<hr />
	<div class="job-container">
		<div class="job-title">
			Lead Firmware Developer
		</div>
		<div class="job-location">
			Essential Research / Twinsburg, OH
		</div>
		<div class="job-date">
			July 2013 – January 2014
		</div>
		<div class="job-description">
			Generating precision gas concentration sensors using new methodology, Essential Research aimed to reduce the cost and improve the sensitivity of existing CO2 and NOX sensor devices
		</div>
		<div class="job-description-list">
			<div class="bulleted-header">
				•	Validated new sensor constructions<br />
			</div>
			<div class="bulleted-item">
				•	Constructed software system on custom PCB for sensor data collection<br />
				•	PID Control of heating element for 650°C operation for sensor operation<br />
				•	Provided feedback from sensor testing to influence construction techniques<br />
			</div>
			<div class="bulleted-header">
				•	Setup gas flow test configurations<br />
			</div>
			<div class="bulleted-item">
				•	Constructed test setup with metered gas flow at varying concentrations<br />
				•	Modified software to calibrate sensors at varying conditions<br />
			</div>
		</div>
	</div>
</div>

@code {

	}
