body {
}

.index-header-name {
    font-size: 1.5em;
    justify-content: center;
    display: flex;
    width: 100%;
}
.index-header-sub {
    color: rgb(128, 128, 128);
    font-size: 1.5em;
    justify-content: center;
    display: flex;
    width: 100%;
}
.index-body-container{

}
.index-my-image {
    display: flex;
    justify-content: center;
    padding: 50px;
}
    .index-my-image img {
        height: 25vh;
    }
.index-my-description {
    display: flex;
    flex-direction: column;
    padding: 25px;
    justify-content: center;
    width: 80%;
    margin: 0 10%;
    background-color: rgb(240,240,240);
}


@media (max-width: 890.98px) {
    /*    .top-row {
        height: 5rem;
    }*/
    .index-top-row {
        justify-content: center;
    }
    .index-header-name {
        justify-content: center;
    }
    .index-header-sub {
        justify-content: center;
    }
}

@media (min-width: 891px) {


  
}