@page "/"

@inject IMessageService MessageService
<PageTitle>Zachary Kilburn</PageTitle>
<div class="top-row"> </div>
<div class="px-4">
<h1>Welcome to My Website</h1>

</div>

@code {
	private List<string> messages = new List<string>();
	protected override void OnInitialized()
	{
		// subscribe to OnMessage event
		MessageService.OnMessage += MessageHandler;
		MessageService.SendMessage("project board");
	}

	public void Dispose()
	{
		// unsubscribe from OnMessage event
		MessageService.OnMessage -= MessageHandler;
	}

	private void MessageHandler(string message)
	{

	}
}