@page "/"

@inject IMessageService MessageService
<PageTitle>Zachary Kilburn</PageTitle>
<div class="top-row"> </div>
<div class="px-4">
<h1>Welcome to My Website</h1>

<p>
	I constructed this website to showcase some of the projects I have worked on outside of work.<br/>
	There are more small projects than those listed on this page, and some I havent had the chance<br/>
	to add to the pages yet, and some that aren't worth of a public audience yet. Feel free to browse <br/>
	and see a bit more about what I like to do!
</p>
</div>

@code {
	private List<string> messages = new List<string>();
	protected override void OnInitialized()
	{
		// subscribe to OnMessage event
		MessageService.OnMessage += MessageHandler;
		MessageService.SendMessage("project board");
	}

	public void Dispose()
	{
		// unsubscribe from OnMessage event
		MessageService.OnMessage -= MessageHandler;
	}

	private void MessageHandler(string message)
	{

	}
}