@page "/"

@inject IMessageService MessageService
<PageTitle>Zachary Kilburn</PageTitle>
<div class="top-row-body">
	<div class="index-top-row">
		<div class="index-header-name">
			<h3>Zachary Kilburn</h3>
		</div>
		<div class="index-header-sub">
			<h5>BS Electrical Engineering</h5>
		</div>
	</div>
</div>
<div class="px-4">
</div>

@code {
	private List<string> messages = new List<string>();
	protected override void OnInitialized()
	{
		// subscribe to OnMessage event
		MessageService.OnMessage += MessageHandler;
		MessageService.SendMessage("project board");
	}

	public void Dispose()
	{
		// unsubscribe from OnMessage event
		MessageService.OnMessage -= MessageHandler;
	}

	private void MessageHandler(string message)
	{

	}
}