body {
}

.project-title {
    justify-content: flex-start;
    display: flex;
}
.project-controls {
    display: flex;
}
.project-container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}
    .project-container img {
        display: block;
        width: auto;
        height: auto;
       max-height: 40vh;
        max-width: 100vw;
    }
.project-description {
    display: flex;
    flex-direction: column;
    padding: 25px;
    justify-content:center;
    width: 80%;
    margin: 0 10%;
    background-color: rgb(240,240,240);
}
.project-description a {
    display:contents !important;
}
.project-boards {
    display: flex;
    flex-direction: row;
    padding: 25px;
    justify-content: center;
    width: 80%;
    margin: 0 10%;
    background-color: rgb(240,240,240);
}
.board-table {
    width: 80%;
}
    .board-table td {
        height: 10em;
        border: 1px solid rgb(127,127,127);
        text-align:center;
    }
    .board-table img {
        height: 10em;
    }

@media (max-width: 890.98px) {

    .project-subcontainer {
        display: flex;
        flex-direction: column;
    }
    .project-image {
        display: flex;
        justify-content: center;
        padding: 50px;
    }
    .project-title {
        width: 100%;
    }
    .project-controls {
        justify-content: flex-start;
        width: 100%;
    }
  
}

@media (min-width: 891px) {
    .project-subcontainer {
        display: flex;
        flex-direction: column;
    }
    .project-image {
        display: flex;
        justify-content: center;
        padding: 50px;
    }
    .project-title {
        width: 20%;
    }
    .project-controls {
        justify-content: flex-end;
        width: 80%;
    }
   
}
