body {
}

.project-title {
    justify-content: center;
    display:flex;
}
.project-container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}
    .project-container img {
        height: 40vh;
    }
@media (max-width: 640.98px) {

    .project-subcontainer {
        display: flex;
        flex-direction: column;
    }
    .project-image {
        display: flex;
        justify-content: center;
        padding: 50px;
    }
    .project-description {
        padding: 50px;
    }
}

@media (min-width: 641px) {
    .project-subcontainer {
        display: flex;
        flex-direction: column;
    }
    .project-image {
        display: flex;
        justify-content: center;
        padding: 50px;
    }
    .project-description {
        padding: 50px;
    }
}
