@page "/resume"
<style>
	.pdf-embed {
		overflow: hidden !important;
		height: auto;
		width: 100%;
		padding-bottom: 47%;
		position: relative;
		margin: auto;
	}

		.pdf-embed embed,
		.pdf-embed iframe,
		.pdf-embed object {
			height: 100%;
			position: absolute;
			margin: auto;
			width: 100%;
		}</style>
<div class="top-row"></div>
<div class="px-4">
	<h3>Resume</h3>

	<div class="pdf-embed">
		<object data="Zachary Kilburn - Resume 20220630.pdf#toolbar=0&navpanes=0&view=Fit" type="application/pdf" />
	</div>
</div>


@code {

}
