@page "/resume"
<div class="top-row-body">
	<div class="page-header">
		<h3>Resume</h3>
	</div>
</div>
<div class="px-4">
	<div class="pdf-embed">
		<object data="Zachary Kilburn.pdf#navpanes=0&view=FitWidth" type="application/pdf" />
	</div>
</div>


@code {

}
