.page {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(200,200,200);
    min-height:100vh;
}

main {
    display:flex;
    flex-direction:column;
    overflow-y:auto;
}
.px-4 {
    background-color: white !important;
}
.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row {
    background-color: rgb(200,200,200);
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }
footer {
    display:flex;
    justify-content: center;
    position:relative;
    bottom: 0;
    padding-left: 0rem !important;
    padding-right: 0rem !important;
    height:5em;
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}
.footer-content{
    color:white;
}
@media (max-width: 890.98px) {
    .top-row:not(.auth) {
        display: none;
    }


    .top-row.auth {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }

    main {
        min-height: calc(100vh - 10em);
        overflow-y: auto;
    }
    .page {
        overflow-y:hidden;
    }
    footer {
        font-size:0.8em;
    }

    }
@media (min-width: 891px) {
    .page {
        flex-direction: column;
    }

    .top-row {
        justify-content: center;
        position: sticky;
        top: 0;
        z-index: 1;
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .article {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }
    .sidebar {
        width: 100%;
        height: 10em;
        position: relative;
        display: flex;
        flex-direction: column;
        top: 0;
    }

}
