.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}
.title {
    font-size: 1.5em;
}


.nav-item-collapsible {
    width: 100% !important;
    padding-left: 2.25rem;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        min-height: 3rem;
        display: flex;
        align-items: center;
        line-height: 1rem;
    }
    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

        .nav-item ::deep a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item ::deep a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }
.nav-bar{
    display:flex;
    flex-direction:column;
    justify-content: center;
}
.top-row {
    display: flex;
    width: 100%;
    height: 5rem;
    background-color: rgba(0,0,0,0.4);
}

/* For Desktop Devices */
@media (min-width: 891px) {
    .title {
        display:flex;
        font-size: 3em;
    }
    .container-fluid {
        display: flex;
        justify-content: center;
    }
    .top-row {
        display: flex;
        width: 100%;
        height: 5rem;
        background-color: rgba(0,0,0,0.4);
    }
    .navbar-toggler {
        display: none;
    }

    .nav-item-collapsible {
        width: 100% !important;
        padding-left: 2.25rem;
        display: flex;
    }
    .nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
        height: 5rem;
        overflow-y: auto;
        display:flex;
        justify-content:center;
    }
    .nav-item {
        font-size: 1.3rem;
        padding-bottom: 0.5rem;
        display: flex;
    }
        .nav-item:first-of-type {
            padding-top:0rem;
        }

        .nav-item:last-of-type {
            padding-bottom: 0.5rem;
        }


        .nav-item ::deep a {
            color: #d7d7d7;
            border-radius: 4px;
            min-height: 3rem;
            display: flex;
            align-items: center;
            line-height: 1rem;
        }

            .nav-item ::deep a.active {
                text-decoration: underline;
                background-color: rgba(255,255,255,0);
                text-underline-offset: 8px;
                color: white;
            }

            .nav-item ::deep a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 5rem);
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
